<div class="meeting-team">
    <div class="logo" {{#if guestLogo}}style="background-image: url({{guestLogo}}){{/if}}"></div>
    <div class="name">{{guestName}}</div>
</div>
<div class="meeting-team">
    <div class="name">{{hostName}}</div>
    <div class="logo" {{#if hostLogo}}style="background-image: url({{hostLogo}})"{{/if}}></div>
</div>

<div class="js-gamesRegion protocol"></div>
<div class="errors js-errors"></div>
<div class="result">
    <div class="score js-hostScore">0</div>
    <button type="button" class="btn btn-lg btn-primary js-approve" disabled>Пенальти</button>
    <div class="score js-guestScore">0</div>
</div>

<div class="js-penaltyRegion protocol"></div>

<div class='result admin-meeting js-adminMeeting'}>
    <div class="score js-hostScore approve">
        <button class="btn">
            <span class="checked hidden"}> <span>Победил {{guestName}}
        </button>
    </div>
    <div class="score js-guestScore approve">
        <button class="btn">
            <span class="checked hidden"}> <span>Ничья
        </button>
    </div>
    <div class="score js-guestScore approve">
        <button class="btn">
            <span class="checked hidden"}> <span>Победил {{hostName}}
        </button>
    </div>
</div>


