<div class="image"></div>
<div class="name">{{name}}</div>
<div class="short-name">{{shortName}}</div>
<div class="wins">{{wins}}</div>
<div class="score">{{score}}</div>
<div class="fails">{{loses}}</div>
<div class="win-rate">{{winRate}}%</div>

