<div class="image hostImage"></div>
<div class="host" name="hostTeam">{{hostTeam}}</div>
<div class="score">0{{hostScore}}</div>
<div class="score">0{{guestScore}}</div>
<div class="guest" name="guestTeam">{{guestTeam}}</div>
<div class="image guestImage"></div>
<div class="date">{{date}}</div>
<div class="protocol">Протокол</div>
