<div class="image"></div>
<div class="name">{{firstName}} <span>{{secondName}}</span></div>
<div class="wins">2{{wins}}</div>
<div class="score">2{{score}}</div>
<div class="fails">4{{fails}}</div>
<div class="win-rate">50%{{winRate}}</div>

