<div class="image"></div>
<div class="name">{{firstName}} <span>{{secondName}}</span></div>
<div class="wins">{{wins}}</div>
<div class="score">{{score}}</div>
<div class="fails">{{loses}}</div>
<div class="win-rate">{{winRate}}%</div>

